<div class="register-container">
  <div class="register-box">
    <h2>Criar Conta</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Nome Completo" formControlName="nome" />
      </div>
      <div
        *ngIf="
          registerForm.get('nome')?.invalid && registerForm.get('nome')?.touched
        "
        class="error-message"
      >
        O nome completo é obrigatório.
      </div>

      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="email" placeholder="E-mail" formControlName="email" />
      </div>
      <div
        *ngIf="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
        "
        class="error-message"
      >
        <span *ngIf="registerForm.get('email')?.errors?.['required']"
          >O e-mail é obrigatório.</span
        >
        <span *ngIf="registerForm.get('email')?.errors?.['email']"
          >Por favor, insira um e-mail válido.</span
        >
      </div>

      <div class="input-group password-wrapper">
        <i class="fas fa-lock"></i>
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Senha"
          formControlName="senha"
        />
        <i
          class="fas password-icon"
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="showPassword = !showPassword"
        ></i>
      </div>
      <div
        *ngIf="
          registerForm.get('senha')?.invalid &&
          registerForm.get('senha')?.touched
        "
        class="error-message"
      >
        <span *ngIf="registerForm.get('senha')?.errors?.['required']"
          >A senha é obrigatória.</span
        >
        <span *ngIf="registerForm.get('senha')?.errors?.['minlength']"
          >A senha deve ter no mínimo 8 caracteres.</span
        >
        <span *ngIf="registerForm.get('senha')?.errors?.['pattern']"
          >Use maiúsculas, minúsculas, números e um símbolo (&#64;$!%*?&).</span
        >
      </div>

      <div class="input-group password-wrapper">
        <i class="fas fa-lock"></i>
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          placeholder="Confirmar Senha"
          formControlName="confirmarSenha"
        />
        <i
          class="fas password-icon"
          [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="showConfirmPassword = !showConfirmPassword"
        ></i>
      </div>
      <div
        *ngIf="registerForm.errors?.['naoCoincidem'] && registerForm.get('confirmarSenha')?.touched"
        class="error-message"
      >
        As senhas não coincidem.
      </div>

      <button type="submit" class="btn-register">Criar Conta</button>
      <a routerLink="/login" class="link-login">Já tem uma conta? Entrar</a>
    </form>
  </div>
</div>
